* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* ----------Reusable Classes---------- */

.link-button {
  display: block;
  width: 8rem;
  padding: 1rem;
  text-decoration: none;
  margin: 0 auto;
  background-image: linear-gradient(crimson, red);
  color: white;
  border-radius: 0.5rem;
  text-align: center;
}
/* ------------------------------------ */

/* ----------Header Section Styles---------- */

.header-section {
  background-image: url(images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 15rem 0;
}

.header-section > h1 {
  text-transform: capitalize;
  text-align: center;
  color: white;
  font-size: 3rem;
  text-shadow: 3px 2px 0px #8f1e1e;
}

.header-section > p {
  text-align: center;
  color: white;
  margin: 1.5rem 0;
  font-size: 1.2rem;
}
/* ------------------------------------ */

/* ----------Donate Today Section Styles---------- */
.donate-today {
  margin: 6rem 0;
}

.donate-today > h1 {
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem;
}

.donate-today > p {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

.amounts {
  display: flex;
  justify-content: center;
}

.amount {
  display: inline-block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  width: 12rem;
  font-weight: 700;
  margin: 0 1rem;
  background-color: #f1f1f7;
  border-radius: 0.5rem;
}

.active {
  border: 2px solid red;
  background-color: #ef999973;
  color: #fd3939;
}

.other_amount {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

#other_amount {
  width: 40rem;
  outline: none;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  border-bottom: 1px solid gray;
}

#other_amount::placeholder {
  text-align: center;
  font-size: 1.2rem;
}

/* ------------------------------------ */
